<section class="auth">
  <div class="authInner">
    <div class="authFormContainer">
      <h1 class="title">Ingresar</h1>
      <div class="authForm">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <label>Correo</label>
          <input type="email" name="email" placeholder="juandom@ejemplo.com" class="textField" formControlName="email">
          <label>Contraseña</label>
          <input type="password" name="password" placeholder="Introduce tu contraseña" class="textField"
            formControlName="password">
          <button type="submit" class="g_button" [disabled]="!loginForm.valid">
            <span *ngIf="!loadingLogin">Ingresar</span>
            <div  *ngIf="loadingLogin" class="loading"></div>
          </button>
        </form>
      </div>
      <span>¿Aun no tienes cuenta? <a class="link" [routerLink]="['/auth/signup']">Registrate</a></span>
    </div>

    <div class="authBG"><span class="circle"><svg id="background-circle" data-functional-selector="icon"
          viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0">
          <path
            d="M16,27 C9.92486775,27 5,22.0751322 5,16 C5,9.92486775 9.92486775,5 16,5 C22.0751322,5 27,9.92486775 27,16 C27,22.0751322 22.0751322,27 16,27 Z"
            style="fill: rgb(204, 204, 204);"></path>
        </svg></span><span class="square"><svg id="background-square" data-functional-selector="icon"
          viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0">
          <path d="M7,7 L25,7 L25,25 L7,25 L7,7 Z" style="fill: rgb(204, 204, 204);"></path>
        </svg></span>
    </div>
  </div>
</section>