<!-- Footer -->
<footer class="footer">
  <div class="footer-row">
    <div class="copyright">
      <p class="text-justify">
        <span class="es">{{'footer.copyright'|translate}}</span>
        <!-- <span class="en">Copyright© 2020 - All rights reserved</span> -->
      </p>
    </div>
    <div class="languages">
      <li class="language-item">
        <a (click)="changeLanguage('en')" id="english">English</a>
      </li>
      <li class="language-item">
        <a (click)="changeLanguage('es')" id="spanish">Español</a>
      </li>
    </div>
  </div>
</footer>
