@import '../../../variables';
@import '~bootstrap/scss/bootstrap.scss';

.quality-container{
  @extend .container;
  margin-top: $navHeight;
  padding: 5% 0;
  img{
    max-width: 100%;
  }
  @media screen and (max-width: 991px){
    .row{
      margin: 0;
    }
  }
}