<div class="quality-container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-10 mb-5">
      <h4>Home</h4>
      <img src="./assets/images/quality/home.png" alt="">
    </div>

    <div class="col-lg-6 col-10 mb-5">
      <!-- <h4 class="en">Quality</h4> -->
      <h4 class="es">Calidad</h4>
      <img src="./assets/images/quality/calidad.png" alt="">
    </div>

    <div class="col-lg-6 col-10 mb-5">
      <h4>Login</h4>
      <img src="./assets/images/quality/login.png" alt="">
    </div>

    <div class="col-lg-6 col-10 mb-5">
      <!-- <h4 class="en">Sign Up</h4> -->
      <h4 class="es">Sign Up</h4>
      <img src="./assets/images/quality/registro.png" alt="">
    </div>

    <div class="col-lg-6 col-10 mb-5">
      <!-- <h4 class="en">Dashboard</h4> -->
      <h4 class="es">Dashboard</h4>
      <img src="./assets/images/quality/dashboard.png" alt="">
    </div>
  </div>
</div>