<div id="carouselUseCases" class="carousel-mood" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselUseCases" data-slide-to="0" class="active"></li>
    <li data-target="#carouselUseCases" data-slide-to="1"></li>
    <li data-target="#carouselUseCases" data-slide-to="2"></li>
    <li data-target="#carouselUseCases" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/facebook.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>{{'home.completa' | translate}}</h5>
        <p>{{'home.responde' | translate}}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/images/analysis.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>{{'home.analiza' | translate}}</h5>
        <p>{{'home.sigue' | translate}}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/images/dashboard.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>{{'home.estadisticas' | translate}}</h5>
        <p>{{'home.ingresa' | translate}}</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/images/danger.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>{{'home.detecte' | translate}}</h5>
        <p>{{'home.actividad' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="about-mood">
  <div class="row-about">
    <div class="text">
      <h3>{{'home.mision' | translate}}</h3>
      <p>{{'home.misionText' | translate}}</p>
    </div>
    <div class="image">
      <img src="https://svgsilh.com/svg/33777.svg" alt="">
    </div>
  </div>
  <div class="row-about">
    <div class="image">
      <img src="./assets/images/social.png" alt="">
    </div>
    <div class="text">
      <h3>{{'home.como' | translate}}
      </h3>
      <p>{{'home.realizar' | translate }}</p>
      <ol>
        <li>
          {{'home.admin'|translate}}
        </li>
        <li>
          {{'home.father'|translate}}
        </li>
        <li>
          {{'home.user'|translate}}
        </li>
      </ol>
      <p>{{'home.ui'|translate}}</p>
    </div>
  </div>
</div>

<div class="integrantes" id="integrantes">
  <h3>{{'navbar.integrantes'|translate}}</h3>
  <div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4 to_animate">
      <div class="card-mood border-0" data-toggle="modal" data-target=".bd-modal-lg" data-name="Luis Barajas"
        data-image="https://avatars2.githubusercontent.com/u/13513062?s=460&v=4">
        <img src="https://avatars2.githubusercontent.com/u/13513062?s=460&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Luis Barajas</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4 to_animate">
      <div class="card-mood border-0" data-toggle="modal" data-target=".bd-modal-lg" data-name="Joan Gonzalez"
        data-image="https://avatars0.githubusercontent.com/u/9255758?s=400&v=4">
        <img src="https://avatars0.githubusercontent.com/u/9255758?s=400&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Joan Gonzalez</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4 to_animate">
      <div class="card-mood border-0" data-toggle="modal" data-target=".bd-modal-lg" data-name="Antony Morales"
        data-image="https://avatars2.githubusercontent.com/u/14965741?s=400&v=4">
        <img src="https://avatars2.githubusercontent.com/u/14965741?s=400&v=4" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Antony Morales</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="get-started mb-5">
  <a [routerLink]="['/auth/signup']" class="btn-mood-primary-outlined" data-toggle="tooltip" data-placement="top"
    title="Comon u know u want it!">
    {{'home.register'|translate}}
  </a>
</div>

<!-- Integrantes modal -->
<div class="modal-integrante fade bd-modal-lg" id="integranteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h1 class="modal-title">Luis Barajas</h1>
      <div class="modal-body">
        <img src="https://avatars2.githubusercontent.com/u/13513062?s=460&v=4" alt="...">
      </div>
    </div>
  </div>
</div>
