// Nunca se usa un negro total en la aplación
$primary:#333333;
$dark: #444;
$lightGray: #cecece;
$light:#f1f1f1;
$light2:#e9ecef;
$red: #f44336;
$green: #43A047;
$blue: #1c7eff;
$bodyBG: rgb(242, 242, 242);
$navHeight: 58px;
$card-colors:
        #FC4B5F,
        rgb(250,168,62),
        rgb(111,111,222);
$social-media-colors: 
        rgb(26,119,228),
        rgb(82,179,75),
        rgb(55,157,236);

$borderizado: 10px
